<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - InfuraOffice</title>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/js-cookie/src/js.cookie.js"></script>

    <script src="static/InfuraOfficeFrontendHelper.js"></script>

    <script src="node_modules/iview/dist/iview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/iview/dist/styles/iview.css"/>

    <script src="static/login.js"></script>
    <link rel="stylesheet" type="text/css" href="static/login.css"/>
</head>
<body>
<div id="app_login">
    <div>
        <template>
            <Row>
                <i-col span="4">&nbsp;</i-col>
                <i-col span="16">
                    <div id="login_pane">
                        <div>
                            <h1>Login - Infura Office</h1>
                        </div>
                        <div>
                            <i-input v-model="username">
                                <span slot="prepend">Username</span>
                            </i-input>
                        </div>
                        <div>
                            <i-input v-model="password" type="password">
                                <span slot="prepend">Password</span>
                            </i-input>
                        </div>
                        <div>
                            Note:
                            One account could only have one session,
                            i.e.
                            if you login now, the previous session of this account would be revoked.
                        </div>
                        <div>
                            <i-button type="success" v-on:click="login">Login</i-button>
                        </div>
                        <div v-if="is_loading">
                            <Spin></Spin>
                        </div>
                        <Alert v-if="has_error" type="warning" closable @on-close="alert_closed">
                            {{ error_message }}
                        </Alert>
                    </div>
                </i-col>
                <i-col span="4">&nbsp;</i-col>
            </Row>
        </template>
    </div>
</div>
</body>
</html>