<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>Embedded SinriLogKeeper in InfuraOffice</title>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/js-cookie/src/js.cookie.js"></script>

    <script src="static/InfuraOfficeFrontendHelper.js"></script>

    <script src="node_modules/iview/dist/iview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/iview/dist/styles/iview.css"/>

    <script src="static/slk.js"></script>
    <link rel="stylesheet" type="text/css" href="static/slk.css"/>

</head>
<body>
<div id="app_slk">
    <Row type="flex" justify="center" align="middle"
         style="border-bottom: 1px solid lightgrey;margin-bottom: 12px">
        <i-col span="20">
            <h1>SinriLogKeeper
                <small>Embedded Version in InfuraOffice</small>
            </h1>
        </i-col>
        <i-col span="4">
            <i-button style="display: inline-block;float: right" icon="log-out" shape="circle" size="small"
                      @click="logout">Logout
            </i-button>
        </i-col>
    </Row>
    <Row type="flex" justify="center" align="middle">
        <i-col span="22" offset="1" style="margin: 5px 0;">
            <i-form :label-width="120" inline>
                <div>
                    <form-item label="Server:">
                        <i-select style="width: 300px;" v-model="target_server" @on-change="on_server_changed" filterable clearable>
                            <i-option v-for="item in server_list" :value="item.key">{{item.label}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="File:">
                        <i-select style="width: 300px;" v-model="target_file" :loading="file_select_loading" filterable clearable
                                @on-change="get_file_info">
                            <i-option v-for="item in file_list" :value="item.key">{{item.label}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="">
                        <span v-if="file_info.file_size">
                            File size: {{ file_info.file_size/1024/1024 }}GB
                            <!--file total lines: {{ file_info.total_lines }}-->
                        </span>
                        <span v-else-if="target_file">Fetching file info ....</span>
                        <span v-else>No file selected</span>
                    </form-item>
                </div>
                <div>
                    <!--<form-item label="From:">-->
                    <!--<i-input style="width: 300px;" v-model="range_start"></i-input>-->
                    <!--</form-item>-->
                    <!--<form-item label="To:">-->
                    <!--<i-input style="width: 300px;" v-model="range_end"></i-input>-->
                    <!--</form-item>-->
                    <form-item label="LastLines:">
                        <i-input style="width: 300px;" v-model="last_lines"></i-input>
                    </form-item>
                    <form-item label="Around Lines:">
                        <i-input style="width: 300px;" v-model="around_lines"></i-input>
                    </form-item>
                </div>
                <div>
                    <form-item label="keyword:">
                        <i-input style="width: 300px;" type="text" v-model="keyword"></i-input>
                    </form-item>
                    <form-item label="">
                        <Checkbox style="width: 300px;" v-model="is_case_sensitive">Case Sensitive</Checkbox>
                    </form-item>
                    <form-item label="">
                        <i-button @click="on_slk_search" html-type="button" type="primary" :loading="is_loading">Search</i-button>
                    </form-item>
                </div>
            </i-form>
        </i-col>
    </Row>
    <Row type="flex" justify="center" align="middle" v-if="result.status">
        <i-col span="22" offset="1">
            <Alert :type="result.type" show-icon closable>
                提示
                <template slot="desc">查询状态：{{ result.status }}<Icon v-show="!['FINISHED', 'FETCHED'].includes(result.status)" type="load-d" class="icon-rotate"></Icon></template>
            </Alert>
        </i-col>
    </Row>
    <Row type="flex" justify="center" align="middle" style="border-top: 1px solid lightgrey;" >
        <i-col span="22" offset="1">
            <pre style="background-color: khaki">The line number would be relative if you set up the last lines parameter.</pre>
        </i-col>
        <i-col span="22" offset="1" v-if="query_info">
            <pre style="background-color: lavender">{{query_info}}</pre>
        </i-col>
        <i-col span="22" offset="1" v-if="result.output">
            <pre style="background-color: rgba(168, 230, 138, 0.38);">{{ result.output }}</pre>
        </i-col>
    </Row>
</div>
</body>
</html>