#update_mixed_job {

}

#update_mixed_job div.ivu-row {
    margin: 5px;
}

#update_mixed_job .explosion_list_config_div {
    margin: 10px;
    border: 1px solid lightgrey;
}

#update_mixed_job .explosion_list_config_div > div {
    padding: 10px;
}

#update_mixed_job .antiquity_list_config_div {
    margin: 10px;
    border: 1px solid lightgrey;
}

#update_mixed_job .antiquity_list_config_div > div {
    padding: 10px;
}

#update_mixed_job .zombie_list_config_div {
    margin: 10px;
    border: 1px solid lightgrey;
}

#update_mixed_job .zombie_list_config_div > div {
    padding: 10px;
}