body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
#head_bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 5px;
    background-color: #5b6270;
    z-index: 999;
}

#head_bar h1 {
    color: white;
}

#main_div {
    margin-top: 50px;
    overflow: hidden;
}

#menu_full_switch {
    text-align: center;
}

#menu_pane {
    overflow: scroll;
}

#work_div {
    padding: 10px;
    overflow: scroll;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.highlighted_box {

}

#menu_pane i.ivu-icon {
    width: 14px;
}